* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.cardContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  -webkit-box-shadow: 0px 0px 15px -5px;
          box-shadow: 0px 0px 15px -5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cardContainer:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 15px 0px;
          box-shadow: 0px 0px 15px 0px;
}
.cardContainer .imageContainer {
  position: relative;
}
.cardContainer .imageContainer .title {
  position: absolute;
  top: -25px;
  text-align: center;
  color: rgb(219, 213, 213);
  width: 300px;
  background-color: transparent;
}
.cardContainer .imageContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardContainer .cardTitle {
  margin: 0.5rem;
  text-align: center;
}
.cardContainer .cardBody {
  text-align: left;
  padding: 0 0.5rem 0.5rem;
}
.cardContainer .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem 0;
  width: 100%;
}
.cardContainer .btn .project,
.cardContainer .btn .github {
  font-family: inherit;
  width: 40%;
  text-decoration: none;
}
.cardContainer .btn .project button,
.cardContainer .btn .github button {
  width: 100%;
  height: 100%;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding: 3px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.cardContainer .btn .project button:hover,
.cardContainer .btn .github button:hover {
  background-color: rgb(255, 140, 0);
  -webkit-box-shadow: 0 0 15px 0 #181818;
          box-shadow: 0 0 15px 0 #181818;
}