* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5rem;
  position: absolute;
  top: 250px;
}
.socialIcons a {
  color: #fff;
  margin: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.socialIcons a:hover {
  color: rgb(255, 140, 0);
}