@import '../../global.scss';

.footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    color: $mainColor;

    p{
        color: inherit;
    }
}