$mainColor: rgb(219, 213, 213);
$mainBgColor: #181818;
$navBgColor: #181818;
$navColor: #fff;
$textOrange: rgb(255, 140, 0);
$formSubmit:rgb(70, 206, 240);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $mainBgColor;
}

// media queries

$x-small: 576px;
$small: 576px;
$medium: 768px;
$medium-bigger: 768px;
$large: 1000px;

@mixin x-small {
  @media(max-width: #{$x-small}){
    @content
  }
}

@mixin small {
  @media(min-width: #{$small}){
    @content
  }
}

@mixin medium {
  @media(max-width: #{$medium}){
    @content
  }
}
@mixin medium-bigger {
  @media(min-width: #{$medium-bigger}){
    @content
  }
}

@mixin large {
  @media(min-width: #{$large}){
    @content
  }
}